@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
body{
    font-family: 'Lobster Two', cursive;
    font-size: larger;
    background-color: #FFFAFA;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ACE1AF;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #1B1B1B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: xx-large;
  }
  
  li a:hover:not(.active) {
    background-color: #FFFAFA;
  }

  h1{
    color: #1B1B1B;
    text-align: center;
    margin-top: 5%;
}

p{
    color: #1B1B1B;
    text-align: center;
    font-size: x-large;
}

.footer{
    position: relative;
    bottom: 0;
    background-color: #ACE1AF;
    margin-top: 10%;
    text-align: center;
    padding-left: 28%;
}

.bouquet_images{
    padding-left: 17%;
    padding-top: 5%;
}

.bouquet_prices1{
    display: inline-block;
    padding-left: 22%;
    color: #1B1B1B;
}

.bouquet_prices2{
    display: inline-block;
    padding-left: 14%;
    color: #1B1B1B;
}

.bouquet_prices3{
    display: inline-block;
    padding-left: 17%;
    color: #1B1B1B;
}
