@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
body{
    font-family: 'Lobster Two', cursive;
    font-size: larger;
    background-color: #FFFAFA;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ACE1AF;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #1B1B1B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: xx-large;
  }
  
  li a:hover:not(.active) {
    background-color: #FFFAFA;
  }

  h1{
    color: #1B1B1B;
    text-align: center;
    margin-top: 5%;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #FFFAFA;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #555555;
  color: #FFFAFA;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #BEBFC5;
}

.container {
  border-radius: 5px;
  background-color: #ACE1AF;
  padding: 20px;
}

.footer{
    position: relative;
    bottom: 0;
    background-color: #ACE1AF;
    margin-top: 5%;
    text-align: center;
    padding-left: 28%;
}
